<header>         
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
            <logo>
                <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
            </logo>
            <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active waves-light" mdbRippleRadius>
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link" (click)="loginForm.show()" >Login</a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" (click)="registerForm.show()" >Register</a>
                        </li>
                </ul>
            </links>
        </mdb-navbar>
    </header>     
 


<app-login #loginForm></app-login>
<app-register #registerForm></app-register>