<!--Card-->
<div class="card card-cascade wider">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title">
        <strong>Alice Mayer</strong>
      </h4>
      <h5 class="indigo-text">
        <strong>Photographer</strong>
      </h5>
    </div>
    <!--/.Card content-->

  </div>