<div class="col-md-4">

    <div class="testimonial">
        <!--Avatar-->

        <!--Content-->
        <h4>{{testimonial.author}}</h4>
        <h6 class="blue-text font-bold">{{testimonial.date | date: 'fullDate'}}</h6>
        <p>
            <i class="fa fa-quote-left"></i> {{testimonial.text}} 
            <i class="fa fa-quote-right"></i>
        </p>

        <!--Review-->
        <div class="grey-text">
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star-half-full"> </i>
        </div>
    </div>

</div>